<section class="container">
 	<div class="three columns"></div>
 	<div class="ten columns profile_content">
 		<div class="user_twitter_profile">
      
      <%= image_tag @img_usuario, class: 'pr_image', title: @usuario %>
 			<p class="pr_name"><%= @nombre %></p>
      <p class="pr_nickname"><a href="http://twitter.com/<%= @usuario %>" target="_blank">@<%= @usuario %></a></p>
 			<p class="pr_bio"><%= @descripcion %></p>
 		</div>
 		<div class="user_twitter_numbers">
 			<div class="count_tweets">
 				<span class="pr_label">Tweets</span>
 				<span class="pr_count"><%= @tuits %></span>
 			</div>
 			<div class="count_following">
 				<span class="pr_label">Siguiendo</span>
 				<span class="pr_count"><%= @following %></span>
 			</div>
 			<div class="count_followers">
 				<span class="pr_label">Seguidores</span>
 				<span class="pr_count"><%= @followers %></span>
 			</div>

 			 <a href="http://twitter.com/<%= @usuario %>" target="_blank" class="btn white border uppercase right">Perfil completo</a>
 		</div>
 	</div>
    <div class="three columns"></div>
  
  <div class="sixteen columns">
    <h2>Búsquedas guardadas</h2>
  </div>
  <div class="sixteen columns">
    <% @busquedas.each do |busqueda| %>
      <a href="/buscar/<%=busqueda['tipo']%>/<%=busqueda['termino']%>/" class="btn bigger"><%=busqueda['tipo']%>/<%=busqueda['termino']%></a>
    <% end %>
  </div>

  <div class="sixteen columns">
    <h2>Mis RSS</h2>
  </div>
  <div class="all_rss">
    <% @rss.each do |rss| %> <!--#para cada rss mostramos su ['tipo'] y su  ['termino']-->
    <article class="sixteen columns item_rss">
      <div class="about_rss">  <span><%=rss['tipo']%> con término: "<%=rss['termino']%>"</span>   </div>
      <div class="link_rss"> <input type="text" class="" value="http://noistter-87490.euw1.nitrousbox.com/rss/<%=rss['tipo']%>/<%=rss['termino']%>/atom.rss"> </div>
      <div class="edit_rss edit_rss1">
        <a href="http://noistter-87490.euw1.nitrousbox.com/rss/<%=rss['tipo']%>/<%=rss['termino']%>/atom.rss">Ver</a>
        <a href="#">Editar</a>
      </div>
    </article>
    <% end %>
  </div>
</section>