<section class="container">
 	<div class="three columns"></div>
 	<div class="ten columns profile_content">
 		<div class="user_twitter_profile">
      
      <%= image_tag @img_usuario, class: 'pr_image', title: @usuario %>
 			<p class="pr_name"><%= @nombre %></p>
      <p class="pr_nickname"><a href="http://twitter.com/<%= @usuario %>" target="_blank">@<%= @usuario %></a></p>
 			<p class="pr_bio"><%= @descripcion %></p>
 		</div>
 		<div class="user_twitter_numbers">
 			<div class="count_tweets">
 				<span class="pr_label">Tweets</span>
 				<span class="pr_count"><%= @tuits %></span>
 			</div>
 			<div class="count_following">
 				<span class="pr_label">Siguiendo</span>
 				<span class="pr_count"><%= @following %></span>
 			</div>
 			<div class="count_followers">
 				<span class="pr_label">Seguidores</span>
 				<span class="pr_count"><%= @followers %></span>
 			</div>

 			 <a href="http://twitter.com/<%= @usuario %>" target="_blank" class="btn white border uppercase right">Perfil completo</a>
 		</div>
 	</div>
    <div class="three columns"></div>
  
  <div class="sixteen columns">
    <h2>Búsquedas guardadas</h2>
    <p>Click para ver la búsqueda</p>
    <% if @busquedas.count == 0  %>
        <p>No has guardado ninguna búsqueda</p>
    <% end %>
  </div>
  <div class="sixteen columns item_search_cont">
      <% @busquedas.each do |busqueda| %>
        <article class="item_search">
          <a href="/buscar/<%=busqueda['tipo']%>/<%=busqueda['termino']%>/" class="btn bigger">
            <% if busqueda['tipo'] == "hashtag"%><%="#"%><% end%>
            <% if busqueda['tipo'] == "usuario"%><%="@"%><% end%><%=busqueda['termino']%></a>
            <a href="/borrar_busqueda/<%=busqueda['tipo']%>/<%=busqueda['termino']%>/" class="btn crimson delete_item">X</a>
        </article>
      <% end %>
  </div>

  <div class="sixteen columns">
    <h2>Mis RSS</h2>
  </div>
  <div class="all_rss">
    <%= render partial: 'rss/all_rss' %>
    <div class="sixteen columns"><a href="/rss" class="btn orange big center">Nuevo RSS</a></div>
  </div>
  <%if @tfavoritos.count != 0 %>
  <div class="sixteen columns">
    <h2>Tweets favoritos</h2>
  </div>
  <div class="all_fav_tweets">
       <% i = 0 %>
      <% @tfavoritos.each do |tweet| %>
        <% if i < 3 %>
          <div class="one-third column twcard s4">
          <% else %> 
          <div class="one-third column twcard s4 oculto">
       <% end %>
            <p class="tweettext">
              <%= tweet.text.html_safe %>
            </p>
            <div class="twcontrols">
              <div class="user">
                <a class="user_perfil" href="http://twitter.com/<%= tweet.username %>" target="_blank"><%= image_tag tweet.perfilimg,  class: "avatar", alt: "Avatar" %></a>
                <a class="user_name" href="http://twitter.com/<%= tweet.username %>" target="_blank">@<%= tweet.username %></a>

                    <% if tweet.retweeted_by != "" %>
                    <!--<a class="user_name" href="http://twitter.com/<%= tweet.retweeted_by %>" target="_blank">/ RT por @<%= tweet.retweeted_by %></a>-->
                    <% end %>

              </div>
              <div class="control">
                <% if !tweet.favorited %>
                  <%= link_to "", "#", :remote => true ,  id:tweet.id , class: "fav" %>
                <% else %>
                  <%= link_to "", "#", :remote => true ,  id:tweet.id , class: "fav true" %>
                <% end %>
                <% if !tweet.retweeted %>
                  <%= link_to "", "#", :remote => true ,  id:tweet.id , class: "rt" %>
                <% else %>
                  <%= link_to "", "#", :remote => true ,  id:tweet.id , class: "rt true" %>
                <% end %>
              </div>
            </div>  
         </div>
     <% i = i+1 %>
    <% end %>
    
  </div>
   
  <% if i > 3 %>
  <div class="sixteen columns"><a id="ver_mas" href="javascript:void(0)" class="btn yellow big center">Ver más</a></div>
  <% end %>
    
 <% end %>
</section>