<section class="container">
 	<div class="three columns"></div>
 	<div class="ten columns profile_content">
 		<div class="user_twitter_profile">
      
      <!--A COPIAR

        <div class="two columns">
          <%= image_tag @img_usuario, class: 'scale-with-grid' %>  
        </div>
        <h1>@<%= @usuario %></h1>
        <h3>Descripción: <%= @descripcion %></h3>
        <h3>De: <%= @location %></h3>
        <h3>Tuits: <% @tuits %></h3>
        <h3>Seguidores:  <%= @followers %></h3>
        <h3>Siguiendo: <%= @following %></h3>
        <h3>Listas: <%= @listas %></h3>
        <h3>Favoritos: <%= @favoritos %></h3>
        <h3>Creado el: <%= @creado %></h3>
        <h3>Idioma: <%= @idioma %></h3>
      
      -->
      
 			<img class="pr_image" src="profile.jpeg" alt="Titan_92">
 			<p class="pr_name">Cristian Vázquez</p>
 			<p class="pr_nickname">@Titan_92</p>
 			<p class="pr_bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, numquam delectus similique!</p>
 		</div>
 		<div class="user_twitter_numbers">
 			<div class="count_tweets">
 				<span class="pr_label">Tweets</span>
 				<span class="pr_count">11.000</span>
 			</div>
 			<div class="count_following">
 				<span class="pr_label">Siguiendo</span>
 				<span class="pr_count">334</span>
 			</div>
 			<div class="count_followers">
 				<span class="pr_label">Seguidores</span>
 				<span class="pr_count">301</span>
 			</div>

 			 <a href="http://twitter.com/titan_92" target="_blank" class="btn border uppercase right">Perfil completo</a>
 		</div>
 	</div>
    <div class="three columns"></div>
  
  <div class="sixteen columns">
    	<h2>Búsquedas guardadas</h2>
    </div>
    <div class="sixteen columns">
    	<a href="#" class="btn bigger">TL - "Android"</a>
    	<a href="#" class="btn bigger"># - "iOS"</a>
    	<a href="#" class="btn bigger">Ver todos</a>
    	<a href="#" class="btn bigger">+</a>
    </div>




    <div class="sixteen columns">
      <h2>Mis RSS</h2>
    </div>
    <div class="all_rss">
      <article class="sixteen columns item_rss">
        <div class="about_rss">  <span>Timeline con término: "Android"</span>   </div>
        <div class="link_rss"> <input type="text" class="" value="http://noistter.com/rss/tl/android/"> </div>
        <div class="edit_rss edit_rss1">
          <a href="#">Ver</a>
          <a href="#">Editar</a>
        </div>
      </article>
      <article class="sixteen columns item_rss">
        <div class="about_rss">   <span>Tweets de usuario @samu_vr</span>  </div>
        <div class="link_rss"> <input type="text" class="" value="http://noistter.com/rss/user/samu_vr/"> </div>
        <div class="edit_rss edit_rss2">
          <a href="#">Ver</a>
          <a href="#">Editar</a>
        </div>
      </article> 
      <article class="sixteen columns item_rss">
        <div class="about_rss"> <a href="#">  <span>Término: "AppleTV"</span>  </a>  </div>
        <div class="link_rss"> <input type="text" class="" value="http://noistter.com/rss/termino/appletv/"> </div>
        <div class="edit_rss edit_rss3">  
          <a href="#">Ver</a>
          <a href="#">Editar</a>
        </div>
      </article> 
      <article class="sixteen columns item_rss">
        <div class="about_rss"> <a href="#">  <span>Hashtag: "#MongoDB"</span>  </a>  </div>
        <div class="link_rss"> <input type="text" class="" value="http://noistter.com/rss/hashtag/mongodb/"> </div>
        <div class="edit_rss edit_rss4">  
          <a href="#">Ver</a>
          <a href="#">Editar</a>
        </div>
      </article>
    </div>
</section>