
<div class="eight columns video_cont">
  <div class="banner">
    <%= @hashtag_name %>   
  </div>
<div class="iframecontent">
  <iframe width="560" height="315"  src="//www.youtube.com/embed/<%= @id_video %>?theme=light&autoplay=1" allowfullscreen></iframe>
  </div> 
  <h1><%= @hashtag_name %></h1>
</div>
<div class="eight columns"> 
    <% @tpuntuacion.first(20).each do |tweet| %>
      <div class="twcard">
        <p class="tweettext">
          <%= tweet.text.html_safe %>
        </p>
       
        <div class="twcontrols">
          <div class="user">
            <a class="user_perfil" href="http://twitter.com/<%= tweet.instance_variable_get(:@username) %>" target="_blank"><%= image_tag tweet.instance_variable_get(:@perfilimg), class:'avatar' %> </a>
            <a class="user_name" href="http://twitter.com/<%= tweet.instance_variable_get(:@username) %>" target="_blank">@<%= tweet.instance_variable_get(:@username) %></a>
          </div> 
        </div>
      </div>
    <% end %>
 </ul>


</div>