<section class="container">
  <div class="sixteen columns"><h1>Búsqueda: <%=@opcion%><%=@titulo%></h1></div>
  <!--<div id="bt_guardar_busq">GUARDAR</div>-->
  <%=@guard_tipo%>
  <%=@guard_busqueda%>
  <%= render template: "layouts/resultados" %>
</section>