<div class="buscador animar">
	<div class="container">
    <%= form_tag(id:"buscador") do %>
    <div class="sixteen columns">
      <span class="buscador_title">Nueva búsqueda:</span>
    </div>
    <div class="eight columns">
     
			
			<ul class="opciones_busqueda_cont animar">
				<li class="opcion seleccionada">
					<label for="opcion_tl"><div class="icono"><span class="icono_texto">TL</span></div></label>
          <%= radio_button_tag(:opcion, "tl", name: "group2") %><label for="opcion_tl">TL</label>
        </li><li class="opcion">
       <label for="opcion_usuario"><div class="icono"><span class="icono_texto">@</span></div></label>
        <%= radio_button_tag(:opcion, "usuario", name: "group2") %><label for="opcion_usuario">Usuario</label>
        </li><li class="opcion">
					<label for="opcion_hashtag"><div class="icono"><span class="icono_texto">#</span></div></label>
          <%= radio_button_tag(:opcion, "hashtag", name: "group2") %><label for="opcion_hashtag">Hashtag</label>
        </li><li class="opcion">
					<label for="opcion_termino"><div class="icono"><span class="icono_texto">A</span></div></label>
        <%= radio_button_tag(:opcion, "termino", name: "group2") %><label for="opcion_termino">Término</label>
        </li>
			</ul>
			
   
		</div>
     
		<div class="eight columns">
			<div class="buscador_input">
        <%= text_field_tag(:termino, nil, placeholder: "Escribe tu búsqueda") %>
			</div>
      <div class="buscador_submit">
        <%= submit_tag("BUSCAR", id:"buscar" , class:"btn min300 right yellow") %>
			</div>
		</div>
    
		<div class="gatillo animar">
			<span class="gatillo_row"  ></span>
			<span class="gatillo_texto">Búsqueda avanzada</span>
      <span class="gatillo_search"  ></span>
			<span class="gatillo_row"  ></span>
		</div>
    <% end %>
	</div>
</div>
